# Python virtual environment
finance_env/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Logs
*.log 