# API Keys
openai_api_key = ""
galileo_api_key = ""
alpha_vantage_api_key = ""
pinecone_api_key = ""

# Galileo Configuration
galileo_project = ""
galileo_log_stream = ""
galileo_console_url = "https://app.galileo.ai"

# Pinecone Configuration
pinecone_index_name = "galileo-demo"
pinecone_namespace = "sp500-qa-demo"

# Used to authorize users for deleting experiments
admin_key = ""